.toolbar {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-bottom: 1px solid #333333;
	border-top: 1px solid #333333;
	height: 45px;
	background: url(toolbar.png) #333333 repeat-x;
}
 
.toolbar > h1 {
	position: absolute;
	overflow: hidden;
	height: 45px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #F0AB00;
	display: inline-block;
	width:80%;
	margin-left:10%;
	margin-right:10%;
}

a[selected], a:active {
	background-color: #194fdb !important;
	background-image: url(listArrowSel.png), url(selection.png) !important;
	background-repeat: no-repeat, repeat-x;
	background-position: right center, left top;
	color: #FFFFFF !important;
}

.button {
	position: absolute;
	overflow: hidden;
	top: 8px;
	right: 6px;
	margin: 0;
	border-width: 0 5px;
	padding: 0 3px;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	background: none;
	border-image: url(toolButton.png) 0 5 0 5;
	-moz-border-image: url(toolButton.png) 0 5 0 5;
	-webkit-border-image: url(toolButton.png) 0 5 0 5;
}

#backButton {
	display: none;
	left: 6px;
	right: auto;
	padding: 0;
	max-width: 55px;
	border-width: 0 8px 0 14px;
	border-image: url(backButton.png) 0 8 0 14;
	-moz-border-image: url(backButton.png) 0 8 0 14;
	-webkit-border-image: url(backButton.png) 0 8 0 14;
}

.rightLink {
	position: releative;
	padding: 0;
	left: auto;
	right: auto;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	background: none;
	border-image: url(toolButton.png) 5 5 5 5;
	-moz-border-image: url(toolButton.png) 5 5 5 5;
	-webkit-border-image: url(toolButton.png) 5 5 5 5;
}

.rightConrol {
	position: releative;
	padding: 0;
	left: auto;
	right: auto;
	width: auto;
}

.rightButton {
	position: absolute;
	overflow: hidden;
	left: auto;
	right: 6px;
	top: 10px;
}
